.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  background-color: var(--background-color);
  border-bottom: 1px var(--border-color) solid;
  margin: auto;
  padding: 1em;
  padding-bottom: 0.5em;
  position: fixed;
  top: 0px;
  align-items: center;
  z-index: 1000;

  img {
    width: 150px;
    margin-left: 2em;
  }
}
