.leftSection {
  width: 50vw;
  padding: 0px 2em;
  padding: 1em;
  height: fit-content;

  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  border-right: 1px var(--border-color) solid;
  h3,
  h2 {
    margin: 1em;
    text-align: center;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    li {
      width: 80%;
      padding: 1em;
      border-bottom: 1px var(--border-color) solid;
      padding-bottom: 5px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    input {
      height: 20px;
      width: 20px;
    }
  }

  div {
    margin-top: 1em;
    padding: 1px 1em;
  }
  .items {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        width: 90%;
        padding: 1em;
        box-shadow: 1px 1px 1px 1px var(--shadow-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        opacity: 0.9;

        div {
          display: flex;
          align-items: baseline;
          h5 {
            margin: 1em;
          }
        }
        input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .map {
    width: 100%;
    background-color: rgb(222, 233, 229);
    height: 300px;
  }
  .location {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      padding: 1em;
      flex-direction: column;
      border-bottom: 1px var(--border-color) solid;
    }
  }
  input {
    height: 50px;
    width: 80%;

    border-bottom: 1px var(--border-color) solid;
    outline: none;
    padding-left: 1em;
    font-size: 1.2em;
  }
}
