.leftSection {
  width: 50vw;
  padding: 0px 2em;
  padding: 1em;
  height: fit-content;

  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  border-right: 1px var(--border-color) solid;
  h3 {
    margin: 1em;
    text-align: center;
  }
  div {
    margin-top: 1em;
    padding: 1px 1em;
  }
  .items {
    ul {
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px var(--border-color) solid;
        opacity: 0.5;

        div {
          display: flex;
          align-items: baseline;
          h6 {
            margin: 0.5em;
          }
        }
        input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .map {
    width: 100%;
    background-color: rgb(222, 233, 229);
    height: 300px;
  }
  .location {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      padding: 1em;
      flex-direction: column;
      border-bottom: 1px var(--border-color) solid;
    }
  }
  input {
    height: 50px;
    width: 80%;

    border-bottom: 1px var(--border-color) solid;
    outline: none;
    padding-left: 1em;
    font-size: 1.2em;
  }
}
