.checkoutNavbar {
  display: flex;
  justify-content: space-between;
  width: 46vw;
  background-color: var(--background-color);
  border-bottom: 1px var(--border-color) solid;
  margin: auto;
  padding: 1em;
  padding-bottom: 0.5em;

  align-items: center;
  z-index: 1000;

  img {
    width: 150px;
    margin-left: 2em;
  }
}
