.foodorder {
  background-color: var(--background-color);
  border: 1px var(--border-color) solid;
  width: 60vw;
  height: 400px;
  position: fixed;
  z-index: 100;
  top: 100px;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;

  .left {
    height: 100%;
    position: relative;
    h3 {
      position: absolute;
      top: 5px;
      left: 10px;
    }
    width: 50%;
    img {
      height: 100%;
      width: 100%;
      min-width: 300px;
      object-fit: cover;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      display: flex;
      padding: 1rem;
      flex-direction: column;
      border-bottom: 1px var(--border-color) solid;
      h6 {
        margin-top: 2em;
      }
    }
    .bottom {
      display: flex;

      justify-content: space-between;

      .left,
      .right_bottom {
        display: flex;
        align-items: baseline;

        h4,
        button {
          margin-right: 1em;
          height: 40px;
        }
      }
    }
  }
}
