.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  background-color: var(--background-color);
  border-bottom: 1px var(--border-color) solid;
  margin: auto;
  padding: 1em;
  padding-bottom: 0.5em;
  position: fixed;
  top: 0px;
  height: 70px;
  align-items: center;
  z-index: 1000;

  .left {
    display: flex;
  }

  h5 {
    padding: 0.75em;
    border-radius: 30px;
    background-color: var(--input-background-color);
  }
  h5:hover {
    padding: 0.5em;
  }
  input {
    width: 50vw;
  }
  img {
    width: 150px;
    margin-left: 2em;
  }
}
